.modal
    color: $aqua
    &-content
        border: 2px solid $dark_aqua
        background-color: $ocean
    &-header
        border-bottom: 2px solid $dark_aqua
    &-body
        word-break: break-all
    &-footer
        border-top: 2px solid $dark_aqua
        &__btn
            border: none
            background: linear-gradient(45deg, #4083db 30%, #fff 40%, #fff 60%, #4083db 70%) 
            border-radius: 5px
            width: 100px
            height: 35px
            &:hover
                background: linear-gradient(45deg, #4083db 20%, #fff 30%, #fff 70%, #4083db 80%) 

.form-control
    background-color: $dark_aqua
    border-color: $dark_aqua
    &:focus
        background-color: $dark_aqua
        border-color: $dark_aqua
    &::placeholder
        color: $white
.modal-footer__btn2
    border: none
    background: linear-gradient(45deg, #4083db 30%, #fff 40%, #fff 60%, #4083db 70%) 
    border-radius: 5px
    width: 125px
    height: 35px
    &:hover
        background: linear-gradient(45deg, #4083db 20%, #fff 30%, #fff 70%, #4083db 80%)
.modal-footer__close-btn2
    background-color: $dark_aqua
    border: none
    border-radius: 5px
    width: 100px
    height: 35px
    color: $white